::-webkit-scrollbar {
  display: none;
}

.header {
  padding: 20px;
}

.directory {
  position: sticky;
  top: 0;
  background-color: #2c2c2c;
  z-index: 10;
}

.directory input {
  padding-left: 20px;
  border-radius: 0;
  height: 35px;
  width: 100%;
}

summary {
  font-size: 14px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 0;
  min-height: 28px;
}

summary::-webkit-details-marker {
  display: none;
}

.summary svg {
  display: inline-block;
  vertical-align: middle;
  transition: transform 0.2s;
}

details[open] > .summary > :first-child {
  transform: rotate(90deg);
}

.fontListContainer {
  width: 100%;
  display: flex;
  position: relative;
}

.fontListContainer summary:hover {
  background-color: #2095f5;
  padding: 4px 0;
}

.plusButton {
  position: absolute;
  right: 8px;
  top: 1px;
  height: 28px;
  display: flex;
  align-items: center;
}

.closeButton {
  /* margin-right: 12px; */
  position: absolute;
  right: 8px;
  top: 5px;
  height: 28px;
  display: flex;
  align-items: center;
}

.plusButton svg {
  transition: transform 0.2s;
}

.fontList {
  font-size: 12px;
  min-height: 35px;
  width: 350px;
  padding-left: 8px;
  padding-top: 4px;
  /* position: relative; */
  padding-right: 20px;
}

.fontCard {
  font-size: 16px;
  min-height: 35px;
  padding: 4px;
  margin-left: 16px;
  display: flex;
  align-items: center;
}
/*
.fontCard:hover {
  background-color: #2095f5;
} */

.popContainer {
  width: 120px;
  position: absolute;
  z-index: 200;
  top: 0;
  right: 30px;
}

.popOption {
  width: 120px;
  background-color: #141414;
  padding: 4px;
  padding-left: 12px;
}

.plusOpen svg {
  transform: rotate(45deg);
}

.MakeLabelContainer {
  position: absolute;
  top: 0;
  right: 30px;
  z-index: 200;
  padding: 8px 8px 0px 8px;
  background-color: #141414;
  min-height: 50px;
  border-radius: 4px;
}

.labelInput {
  background-color: #2b2b2b;
  padding: 4px;
  padding-left: 12px;
}

.colorCircle {
  width: 10px;
  height: 10px;
  border-radius: 120px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.makeLabel {
  background-color: #e5e5e5;
  color: #222222;
  padding: 4px;
  border-radius: 8px;
  margin: 8px 0px 8px 8px;
}

.nav {
  border-radius: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 102px; /* 탭이 3개인 경우 너비는 122px */
  height: 50px;
  background-color: #222222;
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%);
  z-index: 250;
}

.labelDefault {
  min-height: 35px;
  padding: 4px;
  /* margin-left: 16px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItem {
  width: 36px;
  height: 36px;
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navActive {
  background-color: #2095f5;
}

.labelDefault:hover {
  cursor: pointer;
  background-color: #2095f5;
}
